Source: kdebindings
Section: kde
Priority: optional
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Build-Depends: debhelper (>= 5), cmake (>= 2.4.5), quilt,
 kdelibs5-dev (>= 4:4.1.3), libphonon-dev, libqt4-opengl-dev,
 python, python-all-dev, sip4, python-sip4-dev, python-qt4-dev,
 ruby1.8-dev,ruby1.8 , 
 mono-gac [i386 kfreebsd-i386 powerpc amd64 kfreebsd-amd64 ia64 arm armeb armel sparc s390],
 mono-gmcs [i386 kfreebsd-i386 powerpc amd64 kfreebsd-amd64 ia64 arm armeb armel sparc s390], libmono-dev [i386 kfreebsd-i386 powerpc amd64 kfreebsd-amd64 ia64 arm armeb armel sparc s390],
 cdbs, 
 cli-common-dev (>= 0.5.4) [i386 kfreebsd-i386 powerpc amd64 kfreebsd-amd64 ia64 arm armeb armel sparc s390],
 okular-dev (>= 4:4.1.3), kdebase-workspace-dev (>=4.1.3)
Uploaders: Vincent Fourmond <fourmond@debian.org>, Torsten Marek <shlomme@debian.org>, Adeodato Simó <dato@net.com.org.es>
XS-Python-Version: >= 2.4
Standards-Version: 3.7.3
Homepage: http://www.kde.org

Package: libsmokeqt4
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Architecture: any
Description: Qt4 smoke libraries
 smoke libraries are a part of the bindings used for Qt and KDE. This package
 contains pure Qt4 smoke.
 .
 Smoke rovides infrastructure which is used for creating bindings for 
 multiple languages such as Ruby, C# and PHP.
 .
 This is part of KDE Bindings module

Package: libsmokekde4
Section: libs
Depends: ${shlibs:Depends}, libsmokeqt4 (= ${binary:Version})
Architecture: any
Description: KDE smoke libraries
 smoke libraries are part of the bindings used for Qt and KDE. This package i
 contains the kde4 parts of smoke.
 .
 Smoke rovides infrastructure which is used for creating bindings for i
 multiple languages such as Ruby, C# and PHP.
 .
 This is part of KDE Bindings module

Package: libsmokeokular
Section: libs
Depends: ${shlibs:Depends}, libsmokekde4 (= ${binary:Version})
Architecture: any
Description: Okular smoke bindings
 smoke libraries are part of the bindings used for Qt and KDE. This package 
 contains the okular parts of smoke.
 .
 Smoke rovides infrastructure which is used for creating bindings for 
 multiple languages such as Ruby, C# and PHP.
 .
 This is part of KDE Bindings module

Package: libsmokeplasma
Section: libs
Depends: libsmokekde4 (= ${binary:Version}), ${shlibs:Depends}
Architecture: any
Description: KDE plasma smoke library
 smoke libraries are part of the bindings used for Qt and KDE. This package 
 contains the plasma parts of smoke.
 .
 Smoke rovides infrastructure which is used for creating bindings for
 multiple languages such as Ruby, C# and PHP.
 .
 This is part of KDE Bindings module


Package: korundum4
Section: libs
Architecture: any
Depends: libkde4-ruby
Suggests: libokular-ruby, libplasma-ruby
Description: KDE ruby bindings
 This package installs the complete suite
 of KDE bindings including KHTML, Okular
 Nepomuk and Solid bindings.
 .
 This is part of KDE Bindings module

Package: libqtruby4shared2
Section: libs
Depends: ${shlibs:Depends}
Architecture: any
Description: shared library for Qt4 ruby bindings
 This is part of KDE Bindings module

Package: libqt4-ruby
Section: libs
Depends: libqt4-ruby1.8
Architecture: any
Description: Qt4 ruby bindings
 This package installs the Qt4 bindings for the
 default ruby version.
 .
 This is part of KDE Bindings module

Package: libqt4-ruby1.8
Section: libs
Depends: ${shlibs:Depends}, libsmokeqt4
Architecture: any
Description: Qt4 bindings for ruby
 This packages contains Qt4 ruby bindings for the ruby1.8 version.
 .
 This is part of KDE Bindings module


Package: libkde4-ruby
Section: libs
Depends: libkde4-ruby1.8
Architecture: any
Description: KDE ruby bindings
 This package installs the ruby bindings for
 the default ruby interpreter.
 .
 This is part of KDE Bindings module

Package: libkde4-ruby1.8
Section: libs
Depends: ${shlibs:Depends}, libqt4-ruby1.8 (= ${binary:Version}), libsmokekde4 (= ${binary:Version})
Architecture: any
Description: kde4 bindings for ruby
 KDE bindings for ruby
 .
 This is part of KDE Bindings module

Package: libokular-ruby
Section: libs
Depends: libokular-ruby1.8
Architecture: any
Description: Okular ruby bindings
 Defaults to ruby 1.8
 .
 This is part of KDE Bindings module

Package: libokular-ruby1.8
Section: libs
Depends: ${shlibs:Depends}, libkde4-ruby1.8
Architecture: any
Description: Okular ruby bindings
 .
 This is part of KDE Bindings module

Package: libplasma-ruby
Section: libs
Depends: libplasma-ruby1.8
Architecture: any
Description: KDE plasma ruby bindings
 This package allows you to create desktop widgets in the Ruby language. 
 Get ruby 1.8.
 .
 This is part of KDE Bindings module

Package: libplasma-ruby1.8
Section: libs
Depends: libsmokeplasma (= ${binary:Version}), ${shlibs:Depends}
Architecture: any
Description: KDE plasma ruby1.8 bindings
 This package allows you to create desktop widgets in the Ruby language
 .
 This is part of KDE Bindings module

Package: python-kde4
Section: python
Architecture: any
XB-Python-Version: ${python:Versions}
Depends: ${shlibs:Depends}, ${python:Depends}, ${misc:Depends}
Description: Python bindings for the KDE 4 libraries
 This package contains PyKDE, the Python bindings for the KDE 4
 libraries, that allow you to write KDE programs using Python instead of
 C++. It contains the following modules under the PyKDE namespace:
 .
  * kdecore
  * kdeui
  * khtml
  * kio
  * kparts
  * ktexteditor
  * kutils
  * solid
 .
 This package provides modules for all supported Python versions.
 .
 This is part of KDE Bindings module

Package: python-kde4-dev
Section: python
Architecture: all
XB-Python-Version: ${python:Versions}
Depends: ${python:Depends}, python-qt4
Recommends: python-kde4
Description: UIC compiler and SIP files for PyKDE
 This package contains pykdeuic4, a wrapper around PyQt's own UIC (user
 interface compiler). It is needed to generate code from Qt Designer's
 UI files. You want to install this package if you are writing a PyKDE
 application which has .uic files, or running one of these applications
 from source.
 .
 It also contains the .sip files for PyKDE, needed to build packages
 with classes based on PyKDE.
 .
 This is part of KDE Bindings module

Package: python-kde4-doc
Section: doc
Architecture: all
Description: documentation and examples for PyKDE
 This package contains documentation for PyKDE, and some example code
 showing how to use it.
 .
 This is part of KDE Bindings module

Package: libqyoto4.4-cil
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}, ${cli:Depends}
Architecture: i386 kfreebsd-i386 powerpc amd64 kfreebsd-amd64 ia64 arm armeb armel sparc s390 lpia
Description: Qt4 bindings for CLI
 This package provides the Qt-dotnet assembly that
 allows CLI based software to use the QT library
 .
 This is part of KDE Bindings module

Package: qyoto-dev
Section: libdevel
Depends: ${shlibs:Depends}, libqyoto4.4-cil (= ${binary:Version}), ${cli:Depends}
Architecture: i386 kfreebsd-i386 powerpc amd64 kfreebsd-amd64 ia64 arm armeb armel sparc s390 lpia
Description: development tools for Qt CLI bindings
 This package provides csuic and other tools to help building 
 CLI apps with Qt and KDE
 .
 This is part of KDE Bindings module

Package: libkimono4.1-cil
Section: libs
Depends: libqyoto4.4-cil (= ${binary:Version}), ${cli:Depends}, ${shlibs:Depends}
Architecture: i386 kfreebsd-i386 powerpc amd64 kfreebsd-amd64 ia64 arm armeb armel sparc s390 lpia
Description: kde4 bindings for CLI
 This package provides the kde-dotnet assembly that
 allows CLI based software to use the KDE libraries
 .
 This is part of KDE Bindings module

Package: libkhtml2.0-cil
Section: libs
Depends: libqyoto4.4-cil (= ${binary:Version}), libkimono4.1-cil (= ${binary:Version}), ${cli:Depends}, ${shlibs:Depends}
Architecture: i386 kfreebsd-i386 powerpc amd64 kfreebsd-amd64 ia64 arm armeb armel sparc s390 lpia
Description: kde4 bindings for CLI, khtml edition
 This package provides the khtml assembly that
 allows CLI based software to use the KHTML library
 .
 This is part of KDE Bindings module

Package: libnepomuk2.2-cil
Section: libs
Depends: libqyoto4.4-cil (= ${binary:Version}), libkimono4.1-cil (= ${binary:Version}), ${cli:Depends}, ${shlibs:Depends}
Architecture: i386 kfreebsd-i386 powerpc amd64 kfreebsd-amd64 ia64 arm armeb armel sparc s390 lpia
Description: kde4 bindings for CLI, Nepomuk-edition
 This package provides the nepomuk assembly that allows 
 CLI based software to use the Nepomuk library
 .
 This is part of KDE Bindings module

Package: libqtscript2.2-cil
Section: libs
Depends: libqyoto4.4-cil (= ${binary:Version}), ${cli:Depends}, ${shlibs:Depends}
Architecture: i386 kfreebsd-i386 powerpc amd64 kfreebsd-amd64 ia64 arm armeb armel sparc s390 lpia
Description: Qt4 bindings for CLI, QtScript edition
 This package provides the QtSCript assemply that allows
 CLI based software to use the Qtscript library.
 .
 This is part of KDE Bindings module

Package: libqtuitools2.2-cil
Section: libs
Depends: libqyoto4.4-cil (= ${binary:Version}), ${cli:Depends}, ${shlibs:Depends}
Architecture: i386 kfreebsd-i386 powerpc amd64 kfreebsd-amd64 ia64 arm armeb armel sparc s390 lpia
Description: Qt4 bindings for CLI, QtUiTools edition
 This package provides the QtUiTools assembly, that allows 
 CLI based software to use the QtUiTools library.
 .
 This is part of KDE Bindings module

Package: libqtwebkit2.2-cil
Section: libs
Depends: libqyoto4.4-cil (= ${binary:Version}), ${cli:Depends}, ${shlibs:Depends}
Architecture: i386 kfreebsd-i386 powerpc amd64 kfreebsd-amd64 ia64 arm armeb armel sparc s390 lpia
Description: Qt4 bindings for CLI, QtWebkit edition
 This package provides the QtWebkit assembly, that allows 
 CLI based software to use the QtWebkit library

Package: libsoprano2.0-cil
Section: libs
Depends: libqyoto4.4-cil (= ${binary:Version}), ${cli:Depends}, ${shlibs:Depends}
Architecture: i386 kfreebsd-i386 powerpc amd64 kfreebsd-amd64 ia64 arm armeb armel sparc s390 lpia
Description: Soprano bindings for CLI
 This package provides the soprano assembly, that allows CLI based 
 software to use the soprano library.
 .
 This is part of KDE Bindings module

Package: libqyotoshared1
Section: libs
Depends: ${shlibs:Depends}
Architecture: i386 kfreebsd-i386 powerpc amd64 kfreebsd-amd64 ia64 arm armeb armel sparc s390 lpia
Description: shared library for Qt4 CLI bindings
 This package provides the shared library for qyoto - the Qt4 CLI bindings
 .
 This is part of KDE Bindings module
