#! /usr/bin/make -f

include /usr/share/quilt/quilt.make
include /usr/share/cdbs/1/rules/utils.mk


##

cmake_flags := \
	-DCMAKE_SKIP_RPATH=true				\
	-DCMAKE_BUILD_TYPE=Debian			\
	-DCMAKE_INSTALL_PREFIX=/usr			\
	-DCMAKE_VERBOSE_MAKEFILE=ON			\
							\
	-DKDE4_BUILD_TESTS=false			\
	-DKDE4_USE_ALWAYS_FULL_RPATH=false		\
	-DKDE_DISTRIBUTION_TEXT="Debian packages"	\
							\
	-DLIB_INSTALL_DIR=/usr/lib			\
	-DSYSCONF_INSTALL_DIR=/etc			\
	-DCONFIG_INSTALL_DIR=/etc/kde4			\
	-DDATA_INSTALL_DIR=/usr/share/kde4/apps		\
	-DHTML_INSTALL_DIR=/usr/share/doc/kde4/HTML	\
	-DKCFG_INSTALL_DIR=/usr/share/kde4/config.kcf	\
	-DCMAKE_EXE_LINKER_FLAGS="-Wl,--as-needed"	\
	-DCMAKE_SHARED_LINKER_FLAGS="-Wl,--as-needed"	\
	-DCMAKE_MODULE_LINKER_FLAGS="-Wl,--as-needed"

# OK, here we disable all that we don't want.
# Please remove lines as you add packaging support for them.
# Do NOT remove ENABLE_PYKDE4, it gets special handling below. -- Dato
RUBY_SITEARCH=$(shell ruby1.8 -rrbconfig -e 'puts Config::CONFIG["sitearch"]')
cmake_flags += \
	-DENABLE_PYKDE4=OFF\
	-DENABLE_SOPRANO_SMOKE=ON \
	-DENABLE_KHTML_SHARP=ON \
	-DCUSTOM_RUBY_SITE_LIB_DIR=/usr/lib/ruby/1.8/ \
	-DCUSTOM_RUBY_SITE_ARCH_DIR=/usr/lib/ruby/1.8/$(RUBY_SITEARCH)

##

DEB_HOST_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

objdir = $(CURDIR)/obj-$(DEB_HOST_GNU_TYPE)

##

CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
    CFLAGS += -O0
else
    CFLAGS += -O2
endif

##

pydefault  := $(shell pyversions --default)
pyversions := $(shell pyversions --supported --version)
cmake_flags += -DPYTHON_EXECUTABLE=/usr/bin/$(pydefault)

##

$(objdir)/Makefile: $(QUILT_STAMPFN)
	mkdir -p $(objdir)
	cd $(objdir) && cmake $(CURDIR) $(cmake_flags) \
	    -DCMAKE_C_FLAGS="$(CFLAGS)" -DCMAKE_CXX_FLAGS="$(CFLAGS)"

##

$(patsubst %,$(objdir)/python/pykde4-%/Makefile,$(pyversions)): $(objdir)/Makefile
	mkdir -p $(@D)	
	cd  $(@D) && cmake $(CURDIR)/python/pykde4 $(cmake_flags) \
	    -DPYTHON_EXECUTABLE=/usr/bin/python$(subst $(objdir)/python/pykde4-,,$(subst /Makefile,,$@)) \

##
$(patsubst %,build-stamp-python-%,$(pyversions)): $(patsubst %,$(objdir)/python/pykde4-%/Makefile,$(pyversions))
	$(MAKE) -C $(objdir)/python/pykde4-$(subst build-stamp-python-,,$@)
	touch $@


build: build-stamp
build-stamp: $(patsubst %,build-stamp-python-%,$(pyversions)) build-stamp-generic
	touch $@

build-stamp-generic: $(objdir)/Makefile 
	$(MAKE) -C $(objdir)
	touch $@

##

clean:: unpatch
	dh_testdir
	dh_testroot
	
	rm -f build-stamp
	rm -f build-stamp-*
	rm -rf $(objdir)
	
	dh_clean

##
install-pre:
	dh_testdir
	dh_testroot

$(patsubst %,install-python-%,$(pyversions)): install-pre
	$(MAKE) -C $(objdir)/python/pykde4-$(subst install-python-,,$@) install DESTDIR=$(CURDIR)/debian/tmp; \

install-generic:
	$(MAKE) -C $(objdir) install DESTDIR=$(CURDIR)/debian/tmp

install: dh_install mono-is-a-piece-of-weirdo

mono-is-a-piece-of-weirdo:
	install -d debian/libkhtml2.0-cil/usr/lib/cli/kdebindings-2.0
	install -d debian/libkhtml2.0-cil/usr/lib/cli/kdebindings-4.1
	install -d debian/libkhtml2.0-cil/usr/lib/cli/kdebindings-4.4
	install -D -m 644 $(objdir)/lib/khtml.dll debian/libkhtml2.0-cil/usr/lib/cli/kdebindings-2.0/
	install -D -m 644 $(objdir)/lib/libkhtml-sharp.so debian/libkhtml2.0-cil/usr/lib/cli/kdebindings-2.0/
	install -D -m 644 $(CURDIR)/debian/csharp/khtml.dll.config debian/libkhtml2.0-cil/usr/lib/cli/kdebindings-2.0/
	install -D -m 644 $(objdir)/lib/kde-dotnet.dll debian/libkde-dotnet4.1-cil/usr/lib/cli/kdebindings-4.1/
	install -D -m 644 $(objdir)/lib/libkimono.so debian/libkde-dotnet4.1-cil/usr/lib/cli/kdebindings-4.1/
	install -D -m 644 $(CURDIR)/debian/csharp/kde-dotnet.dll.config debian/lib-kde-dotnet4.1-cil/usr/lib/cli/kdebindings-4.1/
	install -D -m 644 $(objdir)/lib/qt-dotnet.dll debian/libqt-dotnet4.4-cil/usr/lib/cli/kdebindings-4.4/
	install -D -m 644 $(objdir)/lib/libqyoto.so debian/libqt-dotnet4.4-cil/usr/lib/cli/kdebindings-4.4/
	install -D -m 644 $(objdir)/lib/libqyotoshared.so debian/libqt-dotnet4.4-cil/usr/lib/cli/kdebindings-4.4/
	install -D -m 644 $(objdir)/debian/csharp/qt-dotnet.dll.config debian/libkde-dotnet4.1-cil/usr/lib/kdebindings-4.4/
	dh_makeclilibs -V
	dh_clideps
	dh_installcligac
	dh_clistrip

dh_install: $(patsubst %,install-python-%,$(pyversions)) install-generic
	
	dh_install --sourcedir=debian/tmp
	#install -D -m 755 debian/tmp/usr/share/kde4/apps/pykde4/pykdeuic4.py \
	#    debian/python-kde4-dev/usr/bin/pykdeuic4

##

binary: binary-arch binary-indep

binary-arch: build install
	$(MAKE) -f debian/rules DH_OPTIONS=-s binary-common

binary-indep: build install
	$(MAKE) -f debian/rules DH_OPTIONS=-i binary-common

binary-common:
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	dh_installman
	dh_pycentral
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_makeshlibs -V
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb


##

.PHONY: build clean install binary binary-arch binary-indep binary-common
